{% extends 'dashboard.html' %}
{% block content %}
<style>
    .d {
        border: 2px double green;
        border-radius: 10px;
        margin-top: 2%;
        margin-left: 32%;
        margin-right: 32%;
        padding: 10px;
        background-color: aquamarine;
    }
</style>
</head>

<body>
    <center>
        <div class="d">

            <label for="">Enter Title: </label> <br>
            <input type="text" name="title" value="{{notesdata[1]}}" readonly><br><br>
            <label>Description: </label><br>
            <textarea name="description" readonly>{{notesdata[2]}}</textarea><br><br>
            <label>Created  Time:{{notesdata[3]}}</label>
            

        </div>
    </center>
</body>
{% endblock %}